<footer id="footer">
    Copyright ©SnyderWebDesign
</footer>

<style>
    footer {
        background-color: #ffffff;
        color:black;
        text-align:center;
        font-weight: bold;
        float:left;
        height:20px;
        width: 1200px;
        padding:10px;
        opacity: 0.77;
        filter: alpha(opacity=90);
        border: 1px solid black;
    }


</style>



</body>
</html>