<!DOCTYPE html>
<html>

<body>
<header id="header">
    <h1>Sonoma County Parks</h1>
</header>


<style>
    header {
        text-align: center;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.77;
        filter: alpha(opacity=75);
        font-weight: bold;


    }
</style>